@* Navbar màu chủ đạo *@
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-xxl">
        <a class="navbar-brand fw-semibold" href="/">InternshipManagement</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topnav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/SinhVien">Sinh viên</a></li>
                <li class="nav-item"><a class="nav-link" href="/GiangVien">Giảng viên</a></li>
                <li class="nav-item"><a class="nav-link" href="/DeTai">Đề tài</a></li>
                <li class="nav-item"><a class="nav-link" href="/HuongDan">Hướng dẫn</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reports">Báo cáo</a></li>
            </ul>
        </div>
    </div>
</nav>
